.text-center {
    text-align: center;
}

span,
.material-symbols-sharp {
    font-size: 20px !important;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}

.red {
    background-color: #e74c3c;
}

.yellow {
    background-color: #f1c40f;
}

.green {
    background-color: #1abc9c;
}

.button {
    text-align: center;
    height: 28px;
    padding: 0px 4px;
}
